.no-js {
  max-width: 50%;
  margin:0 auto;
  background-color: #f7f7f7;
}

* {
   margin: 0px;
   padding: 0px;
}

.header {
  background-color: #c83c3c;
  height: 4em;
  max-width: 48%;
  margin: auto;
  margin-left: 177px;
  padding-top: 15px;
}

.header2 {
  background-color: #c83c3c;
  height: 4em;
  max-width: 48%;
  margin: auto;
  margin-left: 177px;
  padding-top: 15px;
  overflow:hidden;
  height:1%;
  padding-bottom: 20px;
}

.text-muted {
  color: white;
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 14px;
}

.inner-header {
  background-color: #d75050;
  width: 89%;
  height: 2em;
  margin:0 auto;
  padding-top: 14px;
}

ul.meals {
  list-style-type: none;
  padding-top: 2em;
  margin-left: 15px;
}

.meal {
  margin: 5px;
  padding: 0;
}

h4.name {
  text-align: center;
  color: #8c8c8c;
  font-family: Helvetica, Arial, sans-serif;
  margin-bottom: 15px;
}

p.description {
  text-align: center;
  color: #8c8c8c;
}

div.pricediv {
  position: relative;
  text-align: center;
  font-style: italic;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: white;
  margin-bottom: -47px;
  border-style: hidden;
  background-color: #2e3f83;
  width: 25%;
  line-height: 3em;
  margin-left: auto ;
  margin-right: auto ;
}

.image-size {
  width: 100%;
  height: 233px;
}

img.image {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

.mealarticle {
  max-width: 50%;
  margin: auto;
  background-color: white;
  padding-bottom: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: #8c8c8c;
}

.add-dish {
  font-family: Helvetica, Arial, sans-serif;
  color: #ffffff;
  font-style: italic;
  font-size: 16px;
  background: #2e3f83;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}

.options{
  margin-top: 30px;
  color: #8c8c8c;
  margin-left: 15px;
}

.items {
  background-color: #d75050;
  width: 29%;
  height: 2em;
  padding-top: 5px;
  margin-left: 15px;
  float: left;
  margin-top: 6px;
}

.total-items {
  color: #990000;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
}

.total {
  float: right;
  margin-right: 15px;
  padding-top: 5px;
  background-color: #d75050;
  width: 29%;
  height: 2em;
  margin-top: 6px;
}

.total-price {
  color: white;
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
}

.basket {
  width: 87%;
  padding-top: 5px;
  background-color: #d75050;
  height: 28px;
  margin-top: 6px;
  border-radius: 5px;
  padding-left: 10px;
  margin-left: 15px;
  overflow: hidden;
  height: 1%;
  padding-bottom: 13px;
  }

.basketHeader {
  margin-left: 12px;
  color: white;
  font-family: Tahoma, Arial, sans-serif;
}

.basketSlogan {
  margin-left: 12px;
  font-family: Tahoma, Arial, sans-serif;
  font-style: italic;
  font-size: 10px;
  color: white;
}

.itemCount {
  margin-left: 12px;
  color: #990000;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 12px;
  margin-top: 10px;
}

.orderBtn {
	background-color: #ffffff;
	border-radius: 5px;
	display: inline-block;
	cursor: pointer;
	color: #990000;
  font-family: Helvetica, Arial, sans-serif;
	font-size: 17px;
  padding: 10px 10px;
  text-decoration: none;
  margin-left: 15px;
  margin-top: 40px;
  font-style: italic;
}

.order-price {
  float: right;
  margin-right: 15px;
  padding-top: 5px;
  background-color: #d75050;
  width: 29%;
  height: 2em;
  margin-top: 40px;
  border-radius: 5px;
}

.mealName {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 15px;
  color: white;
  margin-left: 18px;
  margin-top: -20px;
}

.mealPrice {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 15px;
  color: white;
  text-align: right;
  padding-right: 10px;
  margin-bottom: -12px;
  margin-top: -21px;
  margin-left: -7px;
}

.quantity {
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 15px;
  color: white;
  width: 5%;
  height: 33px;
}

.increment {
  margin-top: -3px;
  float: left;
}

.decrement {
  width: 6%;
  margin-left: 3px;
  margin-top: 11px;
  margin-bottom: -10px;
}

.increment-quantity {
  color: #990000;
  font-size: 13px;
}

.decrement-quantity {
  color: #990000;
  font-size: 13px;
}
