<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="jstestApp" ng-controller="MainCtrl">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container">
      <div class="header" ng-show="!collapsed">
        <div class="inner-header" ng-show="basketEmpty" ng-click="sessionBasket()" ng-model="sessionBasket">
          <h3 class="text-muted">It's time to order some delicious food</h3>
        </div>
        <div class="inner-header2" ng-show="!basketEmpty">
          <div class="itemsMains">
            <h3 class="totalText">{{totalMains}} Main(s)</h3>
          </div>
          <div class="itemsOthers">
            <h3 class="totalText">{{totalOthers}} Other(s)</h3>
          </div>
          <div class="total" id="total" style="cursor: pointer;" ng-click="collapsed = !collapsed" ng-animate="basket">
            <h3 class="total-price">£{{totalCost.toFixed(2)}}</h3>
          </div>
        </div>
      </div>
      <div class="basket-show" ng-hide="!collapsed" ng-animate="basket">
        <h3 class="basketHeader">Your Order</h3>
        <p class="basketSlogan">A Delicious Restaurant</p>
        <p class="itemCount">{{totalMains}} main(s)</p>
        <p class="itemCount2">{{totalOthers}} other(s)</p>
        <div class="basket" ng-repeat="item in basket" ng-hide="delete()">
          <div class="increment" style="cursor: pointer;" ng-click="incrementDish(item)">
            <p class="increment-quantity">+</p>
          </div>
          <h3 class="quantity"> {{item.quantity}}</h3>
          <h3 class="mealName"> {{item.meal}}</h3>
          <h3 class="mealPrice"> £{{(item.price * item.quantity).toFixed(2)}}</h3>
          <div class="decrement" style="cursor: pointer;" ng-click="decrementDish(item)">
            <p class="decrement-quantity">-</p>
          </div>
        </div>
        <a href="#" class="orderBtn" ng-click="clearBasket()" ng-click="collapsed = !collapsed">Confirm Your Order</a>
        <div class="order-price">
          <h3 class="total-price">£{{totalCost.toFixed(2)}}</h3>
        </div>
      </div>

      <div ng-view="" class="content"></div>

      <div class="footer">
        <p><span class="glyphicon glyphicon-heart"></span> from FOODit and the Yeoman team.</p>
      </div>
    </div>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/services/menuservice.js"></script>
        <!-- endbuild -->
  </body>
</html>
